# Python virtual environment
.env/

# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Logs
*.log

# Environment variables
.env

# IDE files
.vscode/
.idea/
*.iml

# Dependency directories
lib/
lib64/